<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>聊天信息</title>
	<meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1.0,user-scalable=0">
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
    <link href="../Content/css/basic.css" rel="stylesheet" />
    <link href="../Content/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="chat-info">
        <header role="banner" class="head">
            <a href="weixin.html#chat" class="back ui-header-l"><img src="../Content/img/back.png" alt="返回"></a>
            <span class="head-title">聊天信息</span>
            <!--<a href="chatInfo.html" class="partner ui-header-r"><img src="../Content/img/person.png" alt="聊天对象"></a>-->
        </header>
    </div>
</body>
</html>
