<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1.0,user-scalable=0">
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">

	<title>个人信息</title>
    <link href="../Content/css/basic.css" rel="stylesheet" />
    <link href="../Content/css/style.css" rel="stylesheet" />	
</head>
<body>
    <form id="person">
        <div class="self">
            <header role="banner" class="self-head">
                <a href="weixin.html#person" class="back" id="back-person"><img src="../Content/img/back.png" alt="返回"></a>
                <span class="head-title">个人信息</span>
            </header>
            <main class="self-content">
                <div class="frt">
                    <ul>
                        <li class="portrait">
                            <a href="javascript:void(0)">
                                <span>头像</span>
                                <img src="../Content/img/me.png" alt="头像" class="rght">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>昵称</span>
                                <span class="rght">萝卜@兔子</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>微信号</span>
                                <span class="rght">未设置</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>二维码图片</span>
                                <img src="../Content/img/code.png" alt="二维码" class="rght">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>我的地址</span>
                                <span class="rght">未设置</span>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="javascript:void(0)">
                                <span>性别</span>
                                <span class="rght">女</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>地区</span>
                                <span class="rght">中国</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>个性签名</span>
                                <span class="rght">未填写</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </main>
        </div>
    </form>
    
    
</body>
</html>