<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>聊天界面</title>
	<meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1.0,user-scalable=0">
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
    <link href="../Content/css/basic.css" rel="stylesheet" />
    <link href="../Content/css/style.css" rel="stylesheet" />	
</head>
<body>
    <div class="talk">
        <header role="banner" class="head">
            <a href="weixin.html#chat" class="back ui-header-l"><img src="../Content/img/back.png" alt="返回"></a>
            <span class="head-title person-name">阿妹</span>
            <a href="chatInfo.html" class="partner ui-header-r"><img src="../Content/img/person.png" alt="聊天对象"></a>
        </header>
        <main>
            <span class="tips"></span>
            <span class="time">11月30日晚上20：03</span>
            <div class="talk-item talk-items-l">
                <div>
                    <img src="../Content/img/zhshn47.png" />
                </div>
                
                <div>
                    <div class="left_triangle"></div>
                    <span>晚安！晚安！晚安！晚安！晚安！晚安！晚安！</span>
                </div>
            </div>
            <div class="talk-item talk-items-r">
                <div>
                    <img src="../Content/img/me47.png" />
                </div>
                
                <div>
                    <div class="right_triangle"></div>
                    <span>晚安，阿妹！</span>
                    
                </div>
            </div>
            <div class="talk-item talk-items-l">
                <div>
                    <img src="../Content/img/zhshn47.png" />
                </div>

                <div>
                    <div class="left_triangle"></div>
                    <span>晚安！晚安！晚安！晚安！晚安！晚安！晚安！晚安！晚安！晚安！晚安！晚安！晚安！</span>
                </div>
            </div>
            <div class="talk-item talk-items-r">
                <div>
                    <img src="../Content/img/me47.png" />
                </div>

                <div>
                    <div class="right_triangle"></div>
                    <span>晚安，阿妹！晚安！晚安！晚安！晚安！晚安！晚安！晚安！晚安！晚安！晚安！晚安！晚安！</span>

                </div>
            </div>
        </main>
        <footer class="footer">
            <div>
                <img src="../Content/img/voice.png" />
                <input type="text" />

                <img src="../Content/img/smile.png" />
                <img src="../Content/img/add2.png" />
            </div>
            
            
        </footer>
    </div>
    
</body>
</html>
