<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1.0,user-scalable=0">
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">

	<title>微信</title>
    <link href="../Content/css/basic.css" rel="stylesheet" />
    <link href="../Content/css/style.css" rel="stylesheet" />
</head>
<body>
    
    <div class="content">
        <header role="banner">
            <h1>微信(4)</h1>
            <span class="search-add">
                <a class="search" href="javascript:void(0);"><img src="../Content/img/search.png" alt="搜索"></a>
                <a class="add" href="javascript:void(0);"><img src="../Content/img/add.png" alt="添加"></a>
            </span>

        </header>
        <main role="main">
            <section class="weixin ui-page-active" id="chat">
                <div class="message">
                    <div class="info">
                        <a class="items frist-item" href="talk.html">
                            <div class="photo">
                                <img src="../Content/img/zhshn47.png" alt="阿妹">
                            </div>
                            <div class="content">
                                <h1>阿妹</h1>
                                <p>晚安</p>
                            </div>
                            <div class="tips">
                                <p><time>中午12:09</time></p>
                            </div>
                        </a>
                    </div>
                    <div class="info">
                        <a class="items" href="javascript:void(0);">
                            <div class="photo">
                                <img src="../Content/img/email47.png" alt="QQ邮箱提醒">
                            </div>
                            <div class="content">
                                <h1>QQ邮箱提醒</h1>
                                <p>李敏：个人如何提升自身项目</p>
                            </div>
                            <div class="tips">
                                <p><time>中午12:09</time></p>
                                <img src="../Content/img/mute.png" alt="取消铃声">
                            </div>
                        </a>
                    </div>
                    <div class="info">
                        <a class="items" href="javascript:void(0);">
                            <div class="photo">
                                <img src="../Content/img/subscription47.png" alt="订阅号">
                            </div>
                            <div class="content">
                                <h1>订阅号</h1>
                                <p>极客视界：你造吗？不知不觉，这些...</p>
                            </div>
                            <div class="tips">
                                <p><time>中午12:09</time></p>
                                <img src="../Content/img/mute.png" alt="取消铃声">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="info">
                    <a class="items" href="javascript:void(0);">
                        <div class="photo">
                            <img src="../Content/img/cluster47.png" alt="学术交流">
                        </div>
                        <div class="content">
                            <h1>学术交流</h1>
                            <p>贝贝: 明天放假！！！</p>
                        </div>
                        <div class="tips">
                            <p><time>下午14:39</time></p>
                        </div>
                    </a>
                </div>
                <div class="info">
                    <a class="items" href="javascript:void(0);">
                        <div class="photo">
                            <img src="../Content/img/weixin47.png" alt="微信团队">
                        </div>
                        <div class="content">
                            <h1>微信团队</h1>
                            <p>欢迎你再次回到微信！！！</p>
                        </div>
                        <div class="tips">
                            <p><time>8月24日</time></p>
                        </div>
                    </a>
                </div>
                <div class="info">
                    <a class="items" href="javascript:void(0);">
                        <div class="photo">
                            <img src="../Content/img/lisi47.png" alt="Adah">
                            <div class="red-cir">
                                <p>3</p>
                            </div>
                        </div>
                        <div class="content">
                            <h1>Adah</h1>
                            <p>你什么时候还我钱？！</p>
                        </div>
                        <div class="tips">
                            <p><time>晚上21:11</time></p>
                        </div>
                    </a>
                </div>
                <div class="info">
                    <a class="items" href="javascript:void(0);">
                        <div class="photo">
                            <img src="../Content/img/lisi47.png" alt="Adah">
                            <div class="red-cir">
                                <p>3</p>
                            </div>
                        </div>
                        <div class="content">
                            <h1>Adah</h1>
                            <p>你什么时候还我钱？！</p>
                        </div>
                        <div class="tips">
                            <p><time>晚上21:11</time></p>
                        </div>
                    </a>
                </div>
                <div class="info">
                    <a class="items" href="javascript:void(0);">
                        <div class="photo">
                            <img src="../Content/img/lisi47.png" alt="Adah">
                            <div class="red-cir">
                                <p>3</p>
                            </div>
                        </div>
                        <div class="content">
                            <h1>Adah</h1>
                            <p>你什么时候还我钱？！</p>
                        </div>
                        <div class="tips">
                            <p><time>晚上21:11</time></p>
                        </div>
                    </a>
                </div>
                <div class="info">
                    <a class="items" href="javascript:void(0);">
                        <div class="photo">
                            <img src="../Content/img/lisi47.png" alt="Adah">
                            <div class="red-cir">
                                <p>3</p>
                            </div>
                        </div>
                        <div class="content">
                            <h1>Adah</h1>
                            <p>你什么时候还我钱？！</p>
                        </div>
                        <div class="tips">
                            <p><time>晚上21:11</time></p>
                        </div>
                    </a>
                </div>
                <div class="info">
                    <a class="items" href="javascript:void(0);">
                        <div class="photo">
                            <img src="../Content/img/lisi47.png" alt="Adah">
                            <div class="red-cir">
                                <p>3</p>
                            </div>
                        </div>
                        <div class="content">
                            <h1>Adah</h1>
                            <p>你什么时候还我钱？！</p>
                        </div>
                        <div class="tips">
                            <p><time>晚上21:11</time></p>
                        </div>
                    </a>
                </div>
                <div class="info">
                    <a class="items" href="javascript:void(0);">
                        <div class="photo">
                            <img src="../Content/img/lisi47.png" alt="Adah">
                            <div class="red-cir">
                                <p>3</p>
                            </div>
                        </div>
                        <div class="content">
                            <h1>Adah</h1>
                            <p>你什么时候还我钱？！</p>
                        </div>
                        <div class="tips">
                            <p><time>晚上21:11</time></p>
                        </div>
                    </a>
                </div>
                <div class="info">
                    <a class="items" href="javascript:void(0);">
                        <div class="photo">
                            <img src="../Content/img/cluster47.png" alt="学术交流">
                        </div>
                        <div class="content">
                            <h1>学术交流</h1>
                            <p>贝贝: 明天放假！！！</p>
                        </div>
                        <div class="tips">
                            <p><time>下午14:39</time></p>
                        </div>
                    </a>
                </div>
            </section>
            <section class="contacts ui-page" id="contact">
                <div class="nav">
                    <ul>
                        <li class="frnd"><a href="###">新的朋友</a></li>
                        <li class="talk"><a href="###">群聊</a></li>
                        <li class="label"><a href="###">标签</a></li>
                        <li class="pub"><a href="###">公众号</a></li>
                    </ul>
                </div>
                <div class="friend">
                    <div class="a">
                        <h2>A</h2>
                        <div class="frnda">
                            <ul>
                                <li class="zhshn"><a href="###">阿妹</a></li>
                                <li class="lisi"><a href="###">Adah</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="b">
                        <h2>B</h2>
                        <div class="frndb">
                            <ul>
                                <li class="wngwu"><a href="###">贝贝</a></li>
                                <li class="maliu"><a href="###">Bing</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="discover ui-page"  id="find">
                <div class="circle">
                    <ul>
                        <li class="cir"><a href="###">朋友圈</a></li>
                    </ul>
                </div>
                <div class="shake">
                    <ul>
                        <li class="sweep"><a href="###">扫一扫</a></li>
                        <li class="shke"><a href="###">摇一摇</a></li>
                    </ul>
                </div>
                <div class="people">
                    <ul>
                        <li class="peop"><a href="###">附近的人</a></li>
                    </ul>
                </div>
                <div class="leisure">
                    <ul>
                        <li class="buy"><a href="###">购物</a></li>
                        <li class="game"><a href="###">游戏</a></li>
                    </ul>
                </div>
            </section>
            <section class="my ui-page" id="person">
                <div class="me">
                    <ul>
                        <li class="wo"><a href="personInfo.html">王蕊莉 <img src="../Content/img/code.png" alt="二维码"></a></li>
                    </ul>
                    
                </div>
                <div class="plea">
                    <ul>
                        <li class="photo"><a href="###">相册</a></li>
                        <li class="cellect"><a href="###">收藏</a></li>
                    </ul>
                </div>
                <div class="shop">
                    <ul>

                        <li class="wallet"><a href="###">钱包</a></li>
                    </ul>
                </div>
                <div class="fce">
                    <ul>
                        <li class="face"><a href="###">表情</a></li>
                    </ul>
                </div>
                <div class="st">
                    <ul>
                        <li class="set"><a href="###">设置 <p>账号未保护</p></a></li>
                        
                    </ul>
                </div>
            </section>
        </main><!-- end-main -->

        <footer class="footer" role="contentinfo">
            <div class="link">
                <a href="javascript:void(0);" class="chat">
                    <figure>
                        <img src="../Content/img/chated.png" alt="微信">
                        <figcaption class="click">
                            微信
                        </figcaption>
                    </figure>
                </a>
                <a href="javascript:void(0);" class="contact">
                    <figure>
                        <img src="../Content/img/contact.png" alt="通讯录">
                        <figcaption>
                            通讯录
                        </figcaption>
                    </figure>
                </a>

                <a href="javascript:void(0);" class="find">
                    <figure>
                        <img src="../Content/img/find.png" alt="发现">
                        <figcaption>
                            发现
                        </figcaption>
                    </figure>
                </a>
                <a href="javascript:void(0);" class="person">
                    <figure>
                        <img src="../Content/img/person.png" alt="我">
                        <figcaption>
                            我
                        </figcaption>
                    </figure>
                </a>




            </div>
        </footer>
    </div>
    <script src="../Content/js/addLoadEvent.js"></script>
    <script src="../Content/js/selectNav.js"></script>
    <script src="../Content/js/showSection.js"></script>
    <script src="../Content/js/prepareInternalnav.js"></script>
    <script src="../Content/js/jumpToCurPage.js"></script>
    <script>
         
        addLoadEvent(prepareInternalnav);
        addLoadEvent(jumpToCurPage);
    </script>
</body>
</html>